body {
	font-family : sans-serif;
	background-color : #444;
	color : #AAA;
}

h1,h2,h3,h4,h5
{
	color : #CCC;
}

pre{
	-moz-tab-size: 4;
	tab-size : 4;
}

.extensionList{
	column-width: 350px;
}

.hidden
{
	display : none;
}